<div class="main-bg" >
<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-2">
  <h4 style="font-size: 18px;">{{'h4Profil' | translate}}</h4>
</div>
<div class="col-lg-1"></div>
<div class="col-lg-4">
  <div *ngIf="successMessage !=''" class="alert alert-success" role="alert">
        {{successMessage}}
      </div>

      <div *ngIf="errorMessage !=''" class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
  <form [formGroup]="userDetailsFormAcount" (ngSubmit)="onSubmitUpdatePassword(userDetailsFormAcount.value)">
    <label>{{'email' | translate}}</label>
    <div class="input">
      <input type="email" name="email" id="email"
             formControlName="email" [(ngModel)]="email"  required>
     
    
      <span class="fa fa-envelope"  style=" position: absolute;"></span>
    </div>
    <label>{{'password' | translate}}</label>
    <div class="input">
      <input type="password" name="oldPassword" id="oldPassword"
             formControlName="oldPassword" required>
  
      <span class="fa fa-unlock"  style=" position: absolute;"></span>
    </div>
    <label>{{'Npassword' | translate}} </label>
    <div class="input">
      <input type="password" name="newPassword" id="newPassword"
             formControlName="newPassword" required>
      
      <span class="fa fa-unlock"  style=" position: absolute;"></span>
    </div>
    <div class="col-lg-6 col-md-12 pl-4">
      <div class="business-item-info">
      

<button type="submit" [disabled]="!userDetailsFormAcount.valid"  class="btn btn-success">{{'changes' | translate}}</button>
      </div>
    </div>
  </form>
  </div>
   </div>

<hr style="    height: 5px;
    width: 30%;
    margin-left: 5%;
    border-top: 4px solid #000;" />
<div class="row" style="margin-bottom: 5%;">
  <div class="col-lg-1"></div>
  <div class="col-lg-2">
    <h4 style="font-size: 18px;">{{'setting' | translate}}</h4>
  </div>
<div class="col-lg-1"></div>
<div class="col-lg-4">
  <div *ngIf="successMessage !=''" class="alert alert-success" role="alert">
        {{successMessage}}
      </div>

      <div *ngIf="errorMessage !=''" class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
  <form [formGroup]="userDetailsFormProfile" (ngSubmit)="onSubmitPersonnelProfil(userDetailsFormProfile.value)">
    <div class="input">    
      <input type="text" name="firstName" id="firstName"
            placeholder="{{'Fname' | translate}}" formControlName="firstName" 
             [(ngModel)]="firstName" required>
      <span class="fa fa-user"  style=" position: absolute;"></span>
    </div>
    <div class="input">      
      <input type="text" class="form-control" name="lastName" id="lastName"
             placeholder="{{'Lname' | translate}}" formControlName="lastName" [(ngModel)]="lastName"  required>
      <span class="fa fa-user"  style=" position: absolute;"></span>
    </div>
    <div class="input">     
      <input type="text" class="form-control" name="adress"
             placeholder="{{'adresse' | translate}}" formControlName="adress" [(ngModel)]="adress"  required>
      <span class="fa fa-user"  style=" position: absolute;"></span>
    </div>
    <div class="col-lg-6 col-md-12 pl-4">
      <div class="business-item-info">
        
        <button type="submit" [disabled]="!userDetailsFormProfile.valid"  class="btn btn-success">{{'changes' | translate}}</button>
      </div>
    </div>
</form>
</div>
</div> 
</div> 