<div class="main-bg" >
<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-2">
  <h4 style="font-size: 18px;">Acount Setting</h4>
</div>
<div class="col-lg-1"></div>
<div class="col-lg-4">
  <div *ngIf="successMessage !=''" class="alert alert-success" role="alert">
        {{successMessage}}
      </div>

      <div *ngIf="errorMessage !=''" class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
  <form [formGroup]="userDetailsFormAcount" (ngSubmit)="onSubmitUpdatePassword(userDetailsFormAcount.value)">
    <label>Your email</label>
    <div class="input">
      <input type="email" name="email" id="email"
             formControlName="email" [(ngModel)]="email"  required>
      <span class="focus-input100"></span>
    
      <span class="fa fa-envelope"></span>
    </div>
    <label>Old password</label>
    <div class="input">
      <input type="password" name="oldPassword" id="oldPassword"
             formControlName="oldPassword" required>
  
      <span class="fa fa-unlock"></span>
    </div>
    <label>New password </label>
    <div class="input">
      <input type="password" name="newPassword" id="newPassword"
             formControlName="newPassword" required>
      
      <span class="fa fa-unlock"></span>
    </div>
    <div class="col-lg-6 col-md-12 pl-4">
      <div class="business-item-info">
        <button type="submit" [disabled]="!userDetailsFormAcount.valid" class="btn submit">save changes</button>
      </div>
    </div>
  </form>
  </div>
   </div>

<hr style="    height: 5px;
    width: 30%;
    margin-left: 5%;
    border-top: 4px solid #000;" />
<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-2">
   <h4 style="font-size: 18px;">Profile Setting</h4>
</div>
<div class="col-lg-1"></div>
<div class="col-lg-4">
  <div *ngIf="successMessage !=''" class="alert alert-success" role="alert">
        {{successMessage}}
      </div>

      <div *ngIf="errorMessage !=''" class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
  <form [formGroup]="userDetailsFormProfile" (ngSubmit)="onSubmitPersonnelProfil(userDetailsFormProfile.value)">
    <div class="input">    
      <input type="text" name="firstName" id="firstName"
             placeholder="Your first Name" formControlName="firstName" 
             [(ngModel)]="firstName" required>
      <span class="fa fa-user"></span>
    </div>
    <div class="input">      
      <input type="text" class="form-control" name="lastName" id="lastName"
             placeholder="Your last Name" formControlName="lastName" [(ngModel)]="lastName"  required>
      <span class="fa fa-user"></span>
    </div>
 <div class="input">     
      <input type="text" class="form-control" name="adress"
             placeholder="Address" formControlName="adress" [(ngModel)]="adress"  required>
      <span class="fa fa-user"></span>
    </div>
        <div class="col-lg-6 col-md-12 pl-4">
      <div class="business-item-info">
        <button type="submit" [disabled]="!userDetailsFormProfile.valid" class="btn submit">save changes</button>
      </div>
    </div>
</form>
</div>
</div> 
<hr style="    height: 5px;
    width: 30%;
    margin-left: 5%;
    border-top: 4px solid #000;" />
<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-2">
   <h4 style="font-size: 18px;">Payment Setting</h4>
</div>
<div class="col-lg-1"></div>

</div>
</div>