<section id="contact" class="section">
    <div class="container" >

        <div class="row" >
            <!-- Menu Area Start -->
           
               
            
        </div>
        <div class="main-bg" style="margin-top: 4%;">
            
            <div class="sub-main-w3">
                    <div class="contents" style="margin-bottom: 5%;">
                            <h2>
                                Discover and Book the best restaurants at the best price
                            </h2>
                        </div>
              <div class="bg-content-w3pvt" style="max-width: 700px;">
                    <form [formGroup]="form" (ngSubmit)="onSubmitResto(form.value)" style="width: 100%;">
                        
                    
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-9 input" >
                                    <input  type="search" id="autocomplete" #autocomplete  formControlName="address" placeholder="Address" style="width: 100%"/>
                                </div>
                                <div class="col-sm-3">
                                    <button type="submit" class="btn btn-singin" style="margin: 28%;">
                                        search
                                      </button>
                                </div>
                            </div>
                        </div>


                        <span class="desc" style="float: left;margin: 5px 22px;;font-family: sans-serif;font-size: medium;" (click)="toggle()"> {{buttonName}}</span>
                    
                    <div class="advance-search" *ngIf="showAdvancedSearch">
                       
                        
                            <div class="row">
                                <div class="col-sm-3">
                               
                                        <label>Cuisine</label>
                                    <label formArrayName="typeRestaurant" *ngFor="let item of form.controls.typeRestaurant.controls; let i = index">
                                    <input type="checkbox" [formControlName]="i">
                                    {{typeRestaurant[i].name}}
                                    </label>
                                
                            </div>
                            <div class="col-sm-3">
                                
                                     <label formArrayName="sortBy" *ngFor="let element of form.controls.sortBy.controls; let i = index">
                                     <input type="checkbox" [formControlName]="i">{{sortBy[i].name}}
                                    </label>
                                
                            </div>
                            <div class="col-sm-3">
                                
                                      <label formArrayName="distance" *ngFor="let element of form.controls.distance.controls; let i = index">
                                     <input type="checkbox" [formControlName]="i">{{distance[i].name}}
                                    </label>
                                
                            </div>
                            <div class="row second">
                                    <div class="col-sm-3">
                              
                                    <label formArrayName="features" *ngFor="let feature of form.controls.features.controls; let i = index">
                                     <input type="checkbox" [formControlName]="i">{{features[i].name}}
                                    </label>
                                    
                                
                                </div>
                                <div class="col-sm-3">
                               
                                    <label formArrayName="neighborhoods" *ngFor="let neighborhood of form.controls.neighborhoods.controls; let i = index">
                                     <input type="checkbox" [formControlName]="i">{{neighborhoods[i].name}}
                                    </label> 
                                
                                </div>
                               
                            </div>
                            <div class="row third">
                                <div class="input-field">
                                    <button class="btn-delete" id="delete">Reset Filter</button>
                                </div>
                            </div>
                    
                        </div>
                    </div>
                </form>
                </div>
           </div>
        </div>
        <div class="row">

            <div class="col-lg-7 col-md-12 pl-4">
                <div>
                    <div
                        *ngFor="let restaurant of restaurantList | async | paginate: { itemsPerPage: 6, currentPage: p }">
                        <section class="lattest-product-area pb-40 category-list">
                            <div class="row">
                                <div class="row single-product">
                                    <div class="col-lg-4">
                                        <img class="img-fluid" [src]=restaurant.image_url alt="">
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="product-details">
                                            <h6>{{restaurant.name}}</h6>
                                            <div class="price">
                                                <br>
                                                <h6>Address : </h6> {{restaurant.location.display_address}}
                                                <br>
                                                <h6> Plan : </h6> {{restaurant.categories[0].title}}
                                                <br>
                                                <h6>Phone </h6> {{restaurant.display_phone}}
                                                <br>
                                                <h6>Status </h6> {{restaurant.is_closed}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <h6>Note</h6>
                                        <br>
                                        <h6>{{restaurant.rating}}</h6>
                                        <div class="prd-bottom">
                                            <a (click)="router.navigate(['/RestaurantDetails']);" class="social-info">
                                                <i class="fa fa-search"></i>
                                                <p class="mb-0">View restaurant</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                    <div class="text-center">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>

                </div>
            </div>

            <div class="col-lg-5 col-md-12 pl-0 pt-70 pr-5">
                <div class="contact-img">
                    <div id="map" class="map"></div>
                </div>
            </div>
        </div>

    </div>

</section>

