<section id="contact" class="section">
    <div class="container" style="margin-top: 4%;">

        <div class="row" >
            <!-- Menu Area Start -->
            <div class="col-lg-12">
                <div class="contents" style="margin-left: 30%;">
                    <h2>
                        Discover and Book the best restaurants
                        <br>
                        at the best price
                    </h2>
                </div>
            </div>
        </div>
        <div class="s007">
            
                <div class="inner-form">
                    <form [formGroup]="restoForm" (ngSubmit)="onSubmitResto(restoForm.value)">
                    <div class="basic-search">
                        <div class="input-field">
                            <input id="search" type="search" id="autocomplete" #autocomplete placeholder="Address" style="width: 100%"/>
                        </div>
                        <button type="submit"  style="    color: red;
                        background: red;
                        width: 200px;
                        height: 100px;">
                                submit
                              </button>
                        <span class="desc" style="color: white;font-family: sans-serif;font-size: medium;" (click)="toggle()"> {{buttonName}}</span>
                    </div>
                    <div class="advance-search" *ngIf="showAdvancedSearch">
                       
                        
                            <div class="row">
                                <div class="input-field">
                                    <div class="select">
                                        <select formControlName="typeRestaurant" name="choices-single-defaul">
                                            <option value="" disabled>Restaurant type</option>
                                            <option *ngFor="let restaurant of restaurants" [ngValue]="restaurant">
                                                {{restaurant}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="input-field">
                                    <div class="select">
                                        <select data-trigger="" name="choices-single-defaul">
                                            <option placeholder="" value="">COLOR</option>
                                            <option>GREEN</option>
                                            <option>SUBJECT B</option>
                                            <option>SUBJECT C</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="input-field">
                                    <div class="select">
                                        <select data-trigger="" name="choices-single-defaul">
                                            <option placeholder="" value="">SIZE</option>
                                            <option>SIZE</option>
                                            <option>SUBJECT B</option>
                                            <option>SUBJECT C</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row second">
                                <div class="input-field">
                                    <div class="select">
                                        <select data-trigger="" name="choices-single-defaul">
                                            <option placeholder="" value="">SALE</option>
                                            <option>SALE</option>
                                            <option>SUBJECT B</option>
                                            <option>SUBJECT C</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="input-field">
                                    <div class="select">
                                        <select data-trigger="" name="choices-single-defaul">
                                            <option placeholder="" value="">TIME</option>
                                            <option>THIS WEEK</option>
                                            <option>SUBJECT B</option>
                                            <option>SUBJECT C</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="input-field">
                                    <div class="select">
                                        <select data-trigger="" name="choices-single-defaul">
                                            <option placeholder="" value="">TYPE</option>
                                            <option>TYPE</option>
                                            <option>SUBJECT B</option>
                                            <option>SUBJECT C</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row third">
                                <div class="input-field">
                                    <button class="btn-search">Search</button>
                                    <button class="btn-delete" id="delete">Delete</button>
                                </div>
                            </div>
                    
                        
                    </div>
                </form>
                </div>
           
        </div>
        <div class="row">

            <div class="col-lg-7 col-md-12 pl-4">
                <div>
                    <div
                        *ngFor="let restaurant of restaurantList | async | paginate: { itemsPerPage: 6, currentPage: p }">
                        <section class="lattest-product-area pb-40 category-list">
                            <div class="row">
                                <div class="row single-product">
                                    <div class="col-lg-4">
                                        <img class="img-fluid" [src]=restaurant.image_url alt="">
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="product-details">
                                            <h6>{{restaurant.name}}</h6>
                                            <div class="price">
                                                <br>
                                                <h6>Address : </h6> {{restaurant.location.display_address}}
                                                <br>
                                                <h6> Plan : </h6> {{restaurant.categories[0].title}}
                                                <br>
                                                <h6>Phone </h6> {{restaurant.display_phone}}
                                                <br>
                                                <h6>Status </h6> {{restaurant.is_closed}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <h6>Note</h6>
                                        <br>
                                        <h6>{{restaurant.rating}}</h6>
                                        <div class="prd-bottom">
                                            <a (click)="router.navigate(['/RestaurantDetails']);" class="social-info">
                                                <i class="fa fa-search"></i>
                                                <p class="mb-0">View restaurant</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                    <div class="text-center">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>

                </div>
            </div>

            <div class="col-lg-5 col-md-12 pl-0 pt-70 pr-5">
                <div class="contact-img">
                    <div id="map" class="map"></div>
                </div>
            </div>
        </div>

    </div>

</section>