<div class="main-bg">
  <div class="sub-main-w3">
    <div class="bg-content-w3pvt">
      <div class="top-content-style">
        <img src="../../assets/img/user.png" style="
    background-color: white;
" alt="" />
      </div>
      <div *ngIf="successMessage !=''" class="alert alert-success" role="alert">
        {{successMessage}}
      </div>

      <div *ngIf="errorMessage !=''" class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
      <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmitUserDetails(userDetailsForm.value)">
        <p class="legend">Welcome</p>

        <div>
          <h4 style="font-size: 16px;float: left;">Autho0 Login </h4>
          <a (click)="auth.login()" ><img src="../../assets/img/auth0.png"  style ="max-width: 50px;" alt="auth0"></a>
          <br>Or
        </div>
        <div class="input">
          <input type="email" name="email" id="email"
                 placeholder="Your E-mail" formControlName="email" required>
          <span class="focus-input100"></span>
          <div class="help-block with-errors"
               *ngFor="let validation of validation_messages.email">
            <label for="email" class="bmd-label-floating"
                   style="margin: -5% 21%;color: red;"
                   *ngIf="userDetailsForm.get('email').hasError(validation.type) && (userDetailsForm.get('email').dirty || userDetailsForm.get('email').touched)">
              {{validation.message}}
            </label>
          </div>
          <span class="fa fa-envelope"></span>
        </div>
        <div class="input">
          <input type="password" name="password" id="password"
                 placeholder="Your password" formControlName="password" required>
          <a a (click)="router.navigate(['/forgotPassword']);" style="float: left;">
            Forgot Password ?
          </a>
          <div class="help-block with-errors"
               *ngFor="let validation of validation_messages.password">
            <label for="password" class="bmd-label-floating"
                   style="margin: -9% 21%;color: red;position: absolute;width: 100%;"
                   *ngIf="userDetailsForm.get('password').hasError(validation.type) && (userDetailsForm.get('password').dirty || userDetailsForm.get('password').touched)">
              {{validation.message}}
            </label>
          </div>
          <span class="fa fa-unlock"></span>
        </div>
       
        <button type="submit" [disabled]="!userDetailsForm.valid" class="btn submit" >
          <span class="fa fa-sign-in"></span>
        </button>

       


      </form>
      <span>
        Not a member?
      </span>
      <a (click)="router.navigate(['/register']);">
        Sign up now
      </a>
      <div class="copyright">
        <h2>
          By logging in, you agree to our Terms of Service, Privacy Policy, Community Guidelines and Cookie Policy.
        </h2>
      </div>
    </div>
  </div>
</div>
