<section class="special-area bg-white section_padding_100" id="about" style="margin-top: 5%;" >
    <div class="container">

        <div class="row">
            <div class="col-12">
                <!-- Section Heading Area -->
                <div class="section-heading text-center">
                    <h2>Services Categories</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                    <div class="single-icon">
                        <i class="ti-car" aria-hidden="true"></i>
                    </div>
                    <h4>
                        <a style="cursor: pointer;" (click)="router.navigate(['/transport']);">
                            Transport
                        </a>
                    </h4>
                    <p>
                        Mirakl adapts to all configurations and volumetrics ensuring data security
                    </p>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
                        <h4> <a style="cursor: pointer;"
                         (click)="router.navigate(['/restauration']);" >Restoration</a></h4>
                        <p>Fully customizable features to meet your needs</p>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-icon">
                        <i class="ti-home" aria-hidden="true"></i>
                    </div>
                    <h4>Hotel</h4>
                    <p>
                        Easy to use and acclaimed by developers and business users
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                    <div class="single-icon">
                        <i class="ti-cloud" aria-hidden="true"></i>
                    </div>
                    <h4>Flights</h4>
                    <p>
                        Mirakl adapts to all configurations and volumetrics ensuring data security
                    </p>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
                    <div class="single-icon">
                        <i class="ti-shine" aria-hidden="true"></i>
                    </div>
                    <h4>Weather</h4>
                    <p>
                        Fully customizable features to meet your needs
                    </p>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-icon">
                        <i class="ti-location-pin" aria-hidden="true"></i>
                    </div>

                    <h4>Ma</h4>

                    <p>Eas</p>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                    <div class="single-icon">
                        <i class="ti-book" aria-hidden="true"></i>
                    </div>
                    <h4>Traveling</h4>
                    <p>
                        Mirakl adapts to all configurations and volumetrics ensuring data security
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                    <div class="single-icon">
                        <i class="ti-shopping-cart" aria-hidden="true"></i>
                    </div>
                    <h4>Shopping</h4>
                    <p>
                        Mirakl adapts to all configurations and volumetrics ensuring data security
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>
