<!-- Services Section Start -->
<section id="services" class="section">
    <div class="container">
  
      <div class="row">
        <!-- Start Col -->
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="services-item text-center">
            <div class="icon">
              <i class="fa fa-taxi"></i>
            </div>
            <a style="cursor: pointer;" (click)="router.navigate(['/transport']);">
                <h4>Transport</h4>
            </a>
            <p>Share processes and data secure lona need to know basis Our team assured your web site is always safe.</p>
          </div>
        </div>
        <!-- End Col -->
        <!-- Start Col -->
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="services-item text-center">
            <div class="icon">
                <i class="fa fa-cutlery" aria-hidden="true"></i>
            </div>
            <a style="cursor: pointer;"
                (click)="router.navigate(['/restauration']);" ><h4>Restoration</h4></a>
            <p>Share processes and data secure lona need to know basis Our team assured your web site is always safe.</p>
          </div>
        </div>
        <!-- End Col -->
        <!-- Start Col -->
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="services-item text-center">
            <div class="icon">
              <i class="fa fa-bed"></i>
            </div>
            <h4>Hotel</h4>
            <p>Share processes and data secure lona need to know basis Our team assured your web site is always safe.</p>
          </div>
        </div>
        <!-- End Col -->
        <!-- Start Col -->
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="services-item text-center">
              <div class="icon">
                <i class="fa fa-plane"></i>
              </div>
              <h4>Flights</h4>
              <p>Share processes and data secure lona need to know basis Our team assured your web site is always safe.</p>
            </div>
          </div>
          <!-- End Col -->

  <!-- Start Col -->
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="services-item text-center">
            <div class="icon">
              <i class="fa fa-book"></i>
            </div>
            <h4>E-learning</h4>
            <p>Share processes and data secure lona need to know basis Our team assured your web site is always safe.</p>
          </div>
        </div>
        <!-- End Col -->
        <!-- Start Col -->
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="services-item text-center">
              <div class="icon">
                <i class="fa fa-sun-o"></i>
              </div>
              <h4>Weather</h4>
              <p>Share processes and data secure lona need to know basis Our team assured your web site is always safe.</p>
            </div>
          </div>
          <!-- End Col -->
      </div>
    </div>
  </section>
