<!-- Services Section Start -->
<section id="services" class="section" style="margin-top=10%;">
    <div class="container">

  <div *ngIf="errorMessage !=''" class="alert alert-danger" role="alert">
        {{errorMessage}}
</div>

 <div class="input">
          <input type="text" class="form-control" name="searchString" placeholder="Type to search..." [(ngModel)]="searchString"/>
</div>

      <div class="row"  *ngIf="errorMessage ==''">
        <!-- Start Col -->
        <div class="col-lg-3 col-md-6 col-xs-12" *ngFor="let category of categoriesList | async |  filter : 'name' : searchString; let i = index"  style="margin-bottom: 2%;">
        <div class="services-item text-center">
            <div class="icon">
              <i [ngClass]="category.icon"></i>
            </div>
            <a style="cursor: pointer;"  (onclick)="goToCategory(category.link)">
                <h4>{{category.name}}</h4>
            </a>
            <p>Share processes and data secure lona need to know basis Our team assured your web site is always safe.</p>
          </div>
      </div>

        <!-- End Col -->
       
      </div>
    </div>

  </section>
