<!-- Header Section Start -->
<header id="home" class="hero-area">
  <div class="overlay">
    <span></span>
    <span></span>
  </div>
  <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar" style="background: #000;">
    <div class="container">
      <a href="index.html" class="navbar-brand"><img src="../../assets/img/logo.png" alt=""></a>



      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <i class="fa fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link " href="home">{{'home' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " style="cursor: pointer;" (click)="router.navigate(['/categories']);">{{'services' | translate}}</a>
          </li> 

          <li class="nav-item">
            <a class="nav-link " style="cursor: pointer;" (click)="useLanguage('en')">EN</a>
          </li> 

          <li class="nav-item">
            <a class="nav-link " style="cursor: pointer;" (click)="useLanguage('fr')">FR</a>
          </li> 


          <li class="nav-item">
            <a class="btn btn-singin" *ngIf="!(auth.isAuthenticated() || simpleLogin.isLoggedIn())"
              (click)="router.navigate(['/login']);">{{'cnx' | translate}}</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="auth.isAuthenticated() || simpleLogin.isLoggedIn()">
              {{userName}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" (click)="router.navigate(['/profil']);">{{'profil' | translate}}</a></li>
              <li><a class="dropdown-item" (click)="simpleLogin.logout();">{{'dcnx' | translate}}</a></li>
            </ul>
        </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container" *ngIf="router.url ==='/'">
    <div class="row space-100">
      <div class="col-lg-6 col-md-12 col-xs-12">
        <div class="contents">
          <h2 class="head-title">{{'title' | translate}} </h2>
          <h4 style="font-family: 'Rubik', sans-serif;color: white">{{'title1' | translate}} </h4>
          <div class="header-button">
            <a (click)="router.navigate(['/register']);"  class="btn btn-border-filled">{{'a11' | translate}}</a>
            <a href="#contact" class="btn btn-border page-scroll">{{'a12' | translate}}</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-xs-12 p-0">
        <div class="intro-img">
          <img src="../../assets/img/welcome.png" alt="">
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header Section End -->

<app-loader></app-loader>
<router-outlet></router-outlet>


<!-- Footer Section Start -->
<footer>
  <!-- Footer Area Start -->
  <section id="footer-Content">
    <div class="container">
      <!-- Start Row -->
      <div class="row">

        <!-- Start Col -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">

          <div class="footer-logo">
            <img src="../../assets/img/logo.png" alt="">
          </div>
        </div>
        <!-- End Col -->
        <!-- Start Col -->
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">{{'fh3' | translate}}</h3>
            <ul class="menu">
              <li><a href="#">{{'fli1' | translate}} </a></li>
              <li><a href="#">{{'fli2' | translate}}</a></li>
              <li><a href="#">{{'fli3' | translate}}</a></li>
            </ul>
          </div>
        </div>
        <!-- End Col -->
        <!-- Start Col -->
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">{{'Product' | translate}}</h3>
            <ul class="menu">
              <li><a href="#">{{'fli4' | translate}} </a></li>
              <li><a href="#">{{'fli5' | translate}}</a></li>
              <li><a href="#">{{'fli6' | translate}}</a></li>
              <li><a href="#">{{'fli7' | translate}}</a></li>
              <li><a href="#">{{'fli8' | translate}}</a></li>
            </ul>
          </div>
        </div>
        <!-- End Col -->
        <!-- Start Col -->
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">{{'fh31' | translate}}</h3>
            <ul class="menu">
              <li><a href="#">{{'fli9' | translate}} </a></li>
              <li><a href="#">{{'fli10' | translate}}</a></li>
              <li><a href="#">{{'fli11' | translate}}</a></li>
              <li><a href="#">{{'fli12' | translate}}</a></li>
              <li><a href="#">{{'fli13' | translate}}- IOS Store</a></li>
            </ul>
          </div>
        </div>
        <!-- End Col -->
        <!-- Start Col -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">{{'fh32' | translate}}</h3>
            <p>{{'fp1' | translate}} </p>
            <div class="subscribe-area">
              <input type="email" class="form-control" placeholder="Enter Email">
              <span><i class="lni-chevron-right"></i></span>
            </div>
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- Copyright Start  -->

    <div class="copyright">
      <div class="container">
        <!-- Star Row -->
        <div class="row">
          <div class="col-md-12">
            <div class="site-info text-center">
              <p>{{'Created' | translate}} <a href="http://jasmineconseil.com" rel="nofollow">Jasmine Conseil</a></p>
            </div>

          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
    </div>
    <!-- Copyright End -->
  </section>
  <!-- Footer area End -->

</footer>
<!-- Footer Section End -->
<!-- Go To Top Link -->
<a href="#" class="back-to-top">
  <i class="lni-chevron-up"></i>
</a>

<!-- Preloader -->
<div id="preloader">
  <div class="loader" id="loader-1"></div>
</div>
<!-- End Preloader -->
