<div class="main-bg" style="margin-top: 20%;">
  <div class="sub-main-w3" style="margin: -2.5em 2.5em 2em;">
    <div class="bg-content-w3pvt" style="margin: 0 auto;">
      <div *ngIf="successMessage !=''" class="alert alert-success" role="alert">
        {{successMessage}}
      </div>
      <div *ngIf="errorMessage !=''" class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
      <a (click)="router.navigate(['/login']);">
        {{'cnx' | translate}}
      </a>
    </div>
  </div>
</div>
