<section class="ftco-section ftco-degree-bg" style="margin-top: 15%;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ftco-animate">
        <h2 class="mb-3">{{restaurantDetails.name}}</h2>
        <owl-carousel [options]="carouselOptions" [items]="photos" [carouselClasses]="['owl-theme', 'row', 'sliding']">
          <div class="item" *ngFor="let image of photos;let i= index">
            <img class="slide-image" src="{{image}}">
          </div>
        </owl-carousel>

       
          
        <div class="tag-widget post-tag-container mb-5 mt-5">
          <div class="tagcloud">
            <li *ngFor="let category of restaurantDetails.categories"><a href="#"  class="tag-cloud-link">{{category.title}} </a></li>
          </div>
        </div>

     

        <div class="pt-5 mt-5">
          <h3 class="mb-5">6 Comments</h3>
          <ul class="comment-list">
            <li class="comment" *ngFor="let review of restaurantReviews">
              <div class="vcard bio">
                <img [src]=review.user.image_url alt="Image placeholder">
              </div>
              <div class="comment-body">
                <h3>{{review.user.name}}</h3>
                <div class="meta">October 03, 2018 at 2:21pm</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus,
                  ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum
                  impedit necessitatibus, nihil?</p>
                <p><a href="#" class="reply">Reply</a></p>
              </div>
            </li>
          </ul>
          <!-- END comment-list -->
        </div>

      </div> <!-- .col-md-8 -->

      <div class="col-md-4 sidebar ftco-animate">
        <div class="sidebar-box ftco-animate">
          <h3>Details</h3>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4"></a>
            <div class="text">
              <div class="meta">
                <div><label><span class="fa fa-map-marker"></span> Address</label></div>
                <div><label *ngFor="let adrPart of restaurantDetails.location.display_address">{{adrPart}}</label></div>
                <div><label><span class="fa fa-phone"></span> Phone : {{restaurantDetails.display_phone}}</label></div>
                <div><label><span class="fa fa-star-half-o"></span> Rating : {{restaurantDetails.rating}}</label></div>
                <div><label><span class="fa fa-comments"></span>Review Number :
                    {{restaurantDetails.review_count}}</label></div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar-box">
          <div class="search-form">
            <label>Today </label>

            <span class="fa fa-clock-o"></span>
            <label> from {{curentDay.start}} to {{curentDay.end}}</label>

          </div>
        </div>
        <div class="sidebar-box ftco-animate">
          <div class="categories">
            <h3>Timesheet</h3>
            <li *ngFor="let day of restaurantDetails.hours[0].open"><label> <span>from </span> {{day.start}} <span>to
                </span>{{day.end}}</label></li>

          </div>
        </div>
        <div class="sidebar-box ftco-animate">
            <div class="categories">
              <h3>Price range</h3>
              <label>{{restaurantDetails.price}} </label>
  
            </div>
          </div>

      </div>

    </div>
  </div>
</section>
 <!-- .section -->