
<div *ngFor="let review of restaurantReviews" >
              <ul class="comment-list">
                <li class="comment">
                  <div class="vcard bio">
                    <img class="img-fluid" [src]=review.user.image_url alt="">
                  </div>
                  <div class="comment-body">
                    <h3>name:{{review.user.name}}</h3>
                    <div class="meta">{{review.time_created}}</div>
                    <p>{{review.text}}</p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>
                </li>
              </ul>   
            </div>