<div class="main-bg" style="
    margin-top: 20%;">
  <div class="sub-main-w3">
    <div class="bg-content-w3pvt">
      
      <div *ngIf="successMessage !=''"
           class="alert alert-success"
           role="alert">
        {{successMessage}}
      </div>
      <div *ngIf="errorMessage !=''"
           class="alert alert-danger"
           role="alert">
        {{errorMessage}}
      </div>
      <form [formGroup]="userDetailsForm"
            (ngSubmit)="onSubmitForgotPasswordForm(userDetailsForm.value)"
            *ngIf="routeType != 'resetPassword' ">
       <label>Please enter your email</label>
        <div class="input">
          <div *ngFor="let validation of validation_messages.email">
            <label for="email"
                   class="bmd-label-floating"
                   style="margin: -5% 21%;color: red;"
                   *ngIf="userDetailsForm.get('email').hasError(validation.type) && (userDetailsForm.get('email').dirty || userDetailsForm.get('email').touched)">
              {{validation.message}}
            </label>
          </div>
          
          <input type="email"
                 class="form-control"
                 name="email"
                 id="email"
                 placeholder="Your E-mail"
                 formControlName="email"
                 required>
          <span class="fa fa-envelope"></span>
        </div>

        <button type="submit" [disabled]="!userDetailsForm.valid" class="btn submit">
          <span class="fa fa-paper-plane"></span>
        </button>

      </form>
      <!-- Reset password -->
      <form [formGroup]="userDetailsForm"
            (ngSubmit)="onSubmitResetPasswordForm(userDetailsForm.value)"
            *ngIf="routeType == 'resetPassword' " >
      <label>Please the new password</label>
        <div class="input">
        
          <input type="password"
                 name="password"
                 class="form-control"
                 id="password"
                 placeholder="Your password"
                 formControlName="password"
                 required>
          <div *ngFor="let validation of validation_messages.password">
            <label for="password"
                   class="bmd-label-floating"
                   style="margin: -9% 21%;color: red;position: absolute;width: 100%;"
                   *ngIf="userDetailsForm.get('password').hasError(validation.type) && (userDetailsForm.get('password').dirty || userDetailsForm.get('password').touched)">
              {{validation.message}}
            </label>

          </div>

          <span class="fa fa-unlock"></span>
        </div>

        <button type="submit" [disabled]="!userDetailsForm.valid" class="btn submit">
          <span class="fa fa-paper-plane"></span>
        </button>

      </form>



    </div>
  </div>
  <!-- //content -->
  <!-- copyright -->

</div>



