<section class="footer-contact-area section_padding_100 clearfix" id="contact" style="
    margin-top: 5%;
    width: 100%;
">
    <div class="container">

        <div class="col-md-6">
            <div *ngIf="successMessage !=''" class="alert alert-success" role="alert">
                {{successMessage}}
            </div>
            <div *ngIf="errorMessage !=''" class="alert alert-danger" role="alert">
                {{errorMessage}}
            </div>
            <!-- forgot password form -->
            <div class="contact_from">
                <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmitForgotPasswordForm(userDetailsForm.value)" *ngIf="routeType != 'resetPassword' ">
                    <!-- Message Input Area Start -->
                    <div class="contact_input_area">
                        <div class="row">

                            <!-- Single Input Area Start -->
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div *ngFor="let validation of validation_messages.email">
                                        <label for="email" class="bmd-label-floating" style="margin: -5% 21%;color: red;" *ngIf="userDetailsForm.get('email').hasError(validation.type) && (userDetailsForm.get('email').dirty || userDetailsForm.get('email').touched)">{{validation.message}}
                                        </label>
                                    </div>

                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your E-mail" formControlName="email" required>
                                </div>
                            </div>

                            <!-- Single Input Area Start -->
                            <div class="col-12">
                                <button type="submit" class="btn submit-btn" [disabled]="!userDetailsForm.valid">Continue</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- reset password form -->
                <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmitResetPasswordForm(userDetailsForm.value)" *ngIf="routeType == 'resetPassword' ">

                    <div class="contact_input_area">
                        <div class="row">

                            <!-- Single Input Area Start -->
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="password" name="password" class="form-control" id="password" placeholder="Your password" formControlName="password" required>
                                    <div *ngFor="let validation of validation_messages.password">
                                        <label for="password" class="bmd-label-floating" style="margin: -9% 21%;color: red;position: absolute;width: 100%;" *ngIf="userDetailsForm.get('password').hasError(validation.type) && (userDetailsForm.get('password').dirty || userDetailsForm.get('password').touched)">{{validation.message}}
                                        </label>

                                    </div>

                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <button type="submit" class="btn submit-btn" [disabled]="!userDetailsForm.valid">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </form>

                </div>
            </div>
        </div>
</section>