<section class="footer-contact-area section_padding_100 clearfix" id="contact" style="
    margin-top: 5%;
    width: 100%;
">
        <div class="container">
            
                <div class="col-md-6">
                    <!-- Form Start-->
                    <div class="contact_from">
                        <form  [formGroup]="userDetailsForm" (ngSubmit)="onSubmitUserDetails(userDetailsForm.value)">
                            <!-- Message Input Area Start -->
                            <div class="contact_input_area">
                                <div class="row">
                                  
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                                            <div  *ngFor="let validation of validation_messages.email" >
                  <label for="email" class="bmd-label-floating" style="margin: -5% 21%;color: red;"  *ngIf="userDetailsForm.get('email').hasError(validation.type) && (userDetailsForm.get('email').dirty || userDetailsForm.get('email').touched)">{{validation.message}}
                  </label>
                </div>


                                            <input type="email" class="form-control" name="email" id="email" placeholder="Your E-mail" formControlName="email" required>
                                        </div>
                                    </div>
                                    
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <button type="submit" class="btn submit-btn" [disabled]="!userDetailsForm.valid" >Continue</button>
                                    </div>
                                    </div>
                                     </div>

                            <!-- Message Input Area End -->
                        </form>

                    
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area End ***** -->