<div class="main-bg" >
  <div class="sub-main-w3" style="margin: -2.5em 2.5em 2em;">
    <div class="bg-content-w3pvt" style="margin: 0 auto;">
      <div *ngIf="successMessage !=''" class="alert alert-success" role="alert">
        {{successMessage}}
      </div>
      <div *ngIf="errorMessage !=''" class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
      <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmitUserDetails(userDetailsForm.value)">
        <p class="legend">{{'register' | translate}}</p>
        <div class="input">
          <div help-block with-errors *ngFor="let validation of validation_messages.firstName">
            <label for="firstName" class="bmd-label-floating"
                   style="margin: -9% 21%;color: red;position: absolute;width: 100%;"
                   *ngIf="userDetailsForm.get('firstName').hasError(validation.type) && (userDetailsForm.get('firstName').dirty || userDetailsForm.get('firstName').touched)">
              {{validation.message}}
            </label>
          </div>
          <input type="text" name="firstName" id="firstName"
                 placeholder="{{'Fname' | translate}}" formControlName="firstName" required>
          <span class="fa fa-user"  style=" position: absolute;"></span>
        </div>
        <div class="input">
          <div help-block with-errors *ngFor="let validation of validation_messages.lastName">
            <label for="lastName" class="bmd-label-floating"
                   style="margin: -9% 21%;color: red;position: absolute;width: 100%;"
                   *ngIf="userDetailsForm.get('firstName').hasError(validation.type) && (userDetailsForm.get('firstName').dirty || userDetailsForm.get('firstName').touched)">
              {{validation.message}}
            </label>
          </div>
          <input type="text" class="form-control" name="lastName" id="lastName"
                 placeholder="{{'Lname' | translate}}" formControlName="lastName" required>
          <span class="fa fa-user"  style=" position: absolute;"></span>
        </div>
        <div class="input">
          <input type="email" name="email" id="email"
                 placeholder="{{'email' | translate}}" formControlName="email" required>
          
          <div class="help-block with-errors"
               *ngFor="let validation of validation_messages.email">
            <label for="email" class="bmd-label-floating"
                   style="margin: -5% 21%;color: red;"
                   *ngIf="userDetailsForm.get('email').hasError(validation.type) && (userDetailsForm.get('email').dirty || userDetailsForm.get('email').touched)">
              {{validation.message}}
            </label>
          </div>
          <span class="fa fa-envelope"  style=" position: absolute;"></span>
        </div>
        <div class="input">
          <input type="password" name="password" id="password"
                 placeholder="{{'mdp' | translate}}" formControlName="password" required>
          <div class="help-block with-errors"
               *ngFor="let validation of validation_messages.password">
            <label for="password" class="bmd-label-floating"
                   style="margin: -9% 21%;color: red;position: absolute;width: 100%;"
                   *ngIf="userDetailsForm.get('password').hasError(validation.type) && (userDetailsForm.get('password').dirty || userDetailsForm.get('password').touched)">
              {{validation.message}}
            </label>
          </div>
          <span class="fa fa-unlock"  style=" position: absolute;"></span>
        </div>
        <div class="input"> 
          <input type="text" class="form-control" name="adress" id="adress"
                 placeholder="{{'adresse' | translate}}" formControlName="adress" required>
          <span class="fa fa-map-marker"  style=" position: absolute;"></span>
        </div>
        <button type="submit" [disabled]="!userDetailsForm.valid" class="btn submit">
          <span class="fa fa-sign-in"  style=" position: absolute;"></span>
        </button>
      </form>
    </div>
  </div>
</div>


